.lessonPlanner {
    display: flex;
    gap: 20px;
}

.selector-container{
    background: #fff;
    flex: 1;
    display: flex;
    padding: 2rem;
    gap: 1.5rem;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    
}

.selector-container > * + * {
    margin-top: 1rem; /* Add margin-top to every child element except the first */
}

.next--button {
    width: 50px;
    height: 45px;
    background-color: #dde6ed;
    border: None;
    outline: None;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor:pointer;
    font-size: 16px;
    color: black;
    font-weight: 500;
}

button:hover {
    background-color: #c5d1da; /* Slightly darker shade for hover effect */
}